.curve-container {
    padding-bottom: 1.3rem;
    /* border: 1px solid red; */
}

.curve-container fieldset {
    border: 1px solid #9e9e9e;
    padding-bottom: 2rem;
   
}

.curve-container fieldset legend {
    color: #9C9C9C;
    font-size: 1.25rem;
    width: auto;
    margin: 0 0.625rem;
    padding: 0 .625rem;
}

.curve-container .curve-content-wrapper {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.curve-content-banks {
    background-color: white;
    padding: 1.25rem;
    /* margin-bottom: 2rem; */
}

.createPoolform{
  margin-bottom: 3rem;
  }
  
  .createPoolform label {
      /* margin: 0; */
      /* font-size: 1rem; */
      color: #9c9c9c
  }
  
  .createPoolform label span {
      font-weight: bold;
  }
  
  .createPoolform input {
      /* padding: 16.5px 14px; */
      width: 100%;
  
  }
  
  .createPoolform input:focus {
      outline: none;
  }
  
  .createPoolContent h3 {
      color: rgba(0, 0, 0, 0.87);
      margin-bottom: 1.25rem;
  }

/* Pagination */
.MuiTablePagination {
    padding: 15px !important;
    text-align: center;
    border-top: 1px solid rgba(7, 9, 25, 0.125);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #f8f9ff;
  }
  
  .MuiTablePagination .MuiTablePagination-selectLabel,
  .MuiTablePagination .MuiTablePagination-displayedRows {
    margin-bottom: 0;
  }
  
  .MuiTablePagination .MuiTablePagination-spacer {
    display: none;
  }
  
  .MuiTablePagination .MuiTablePagination-toolbar {
    justify-content: center;
  }

  .swapIconWrapper .tokenSwapIcon {
    color: white;
    background-color: #5300E8;
    padding: 8px;
    font-size: 3.5rem;
}

.mui-form-width .MuiFormControl-root {
  margin: 0;
  width:calc(100% - 10px)
}

.dao-form-width .MuiFormControl-root {
  width: 100%;
}

.hidden {
  display: none !important;
}

.poolRequirements {
  background-color: #E7EBF0;
  padding: 2.5rem;
  font-size: 1rem;
}

.poolRequirements h5 {
  color: #000;
}

.poolRequirements ul li {
  list-style-type:disc;
  margin-left: 2.5rem;
}