.btnWrapper button {
    border: 1px solid #1976d2;
    background-color:#1976d2;
    color: white;
    padding: 0.625rem 1.25rem;
}

.btnWrapper button:hover {
    /* border: 1px solid rgb(69, 131, 211);
    background-color:rgb(69, 131, 211); */
    /* box-shadow: 3px 3px 0 rgb(0 0 0 / 0.5);
    transform: translate(-3px, -3px);
    transition: linear 0.2s; */
}


/*

 --- COLORS ---
Primary: #1976d2
Secondary: #714CFE
Error: #B71C1C
Warning: #EF6C00
Background-Color: #E7EBF0
Text-Selected: #FFF
Text-Faded: #9C9C9C
Text-Hover: #333
Text: #000
Text-Green: #00cc52
Box-Shadow: rgb(0 0 0 / 0.5)
Border: #9E9E9E
Border-Active: #1976d2

*/

.lockerButton{
    width:43%;
    height: 54px;
    margin-top: 15px;
    box-sizing: border-box;
    margin-left: 12px;
}

.increaseTime{
    margin-top: 0px
}

@media screen and (max-width: 1300px) {
    .lockerButton {
        width: 50%;
        
        
    }
  }

  @media screen and (max-width: 800px) {
    .increaseTime{
        margin-top: 30px
    }
  }

  @media screen and (max-width: 600px) {
    .increaseTime{
        margin-top: 120px
    }
  }

  .hoverButtonGlobal{   
    border:1px solid#1976d2 !important;
    background-color: white !important;
    color: #1976d2 !important;
    
}
.hoverButtonGlobal:hover{
    background-color: #1976d2 !important;
    color: white !important;
}

.increaseAllowanceButton{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* width: 106px;
height: 24px; */
/* flex: none;
order: 0;
flex-grow: 0; */
}

.votingActionablesButton{
    padding: 12px 10px !important;
    gap: 12px;
    min-width: 216px;
    height: 48px;
    border: 1px solid #1976D2;
    border-radius: 4px;
    box-sizing: 'border-box';
    background-color:white;
    /* display: flex;
flex-direction: row;
justify-content: center;
align-items: center; */
}


