.btnWrapper button {
    border: 1px solid #1976d2;
    background-color:#1976d2;
    color: white;
    padding: 0.625rem 1.25rem;
}

.btnWrapper button:hover {
    /* border: 1px solid rgb(69, 131, 211);
    background-color:rgb(69, 131, 211); */
    /* box-shadow: 3px 3px 0 rgb(0 0 0 / 0.5);
    transform: translate(-3px, -3px);
    transition: linear 0.2s; */
}


/*

 --- COLORS ---
Primary: #1976d2
Secondary: #714CFE
Error: #B71C1C
Warning: #EF6C00
Background-Color: #E7EBF0
Text-Selected: #FFF
Text-Faded: #9C9C9C
Text-Hover: #333
Text: #000
Text-Green: #00cc52
Box-Shadow: rgb(0 0 0 / 0.5)
Border: #9E9E9E
Border-Active: #1976d2

*/

.lockerButton{
    margin-right: 100px;
    
}

.increaseTime{
    margin-left: 15%
}

@media screen and (max-width: 1000px) {
    .lockerButton {
        margin-right: 0;
        
        
    }
    .increaseTime{
        margin-left: 0
    }
  }