.subMenu-wrapper {
    position: relative;
    margin: 1.5em 0;
}

.menu-item {
    padding: 0.625rem 0;
    color: #1976d2;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: linear 0.2s;
    height: auto;
    z-index: 9;
}

 /* .menu-item:hover {
    background-color: #1976d2;
    color: white;
} */


/*
.menu-item:active {
    background-color: #1976d2;
    color: white;
} */

ul li.menuSubitem {
    
    cursor: pointer;
    color: #1976d2;
    font-size: 15px;
    font-weight: 500;
    display: none;
    position: relative;
    z-index: 10;
    transition: linear 0.2s;
}

li.menuSubitem a {
    padding: 0.625rem 1.25rem;
    color: unset;
}

ul li.openItem-1{
    margin-top: 20px;
    width: 12rem;
    display: flex;
}
ul li.openItem-2{
    width: 12rem;
    display: flex;
}
ul li.openItem-3{
    width: 12rem;
    display: flex;
}

ul li.openItem-1:hover, ul li.openItem-2:hover, ul li.openItem-3:hover {
    background-color: #1976d2;
    color: white !important;
}

.subMenuDisplay {
    display: block !important;
    transition: all linear 0.5s;
}

#factorySubMenuMd .subMenu-factory {
    color: #1976d2;
    padding: 1rem;
}

#factorySubMenuMd .subMenu-factory:hover {
    color: white;
    background-color: #1976d2;
}